<footer>
    <div class="footer-container">

        <!-- CONTACT -->
        <div class="details-wrapper">
            <!-- Section title -->
            <h3>Contact</h3>
            <div class="details-container">
                <!-- Phone number -->
                <div class="detail">
                    <!-- !!! (TO INSERT) Icon -->
                    <p>0414 987 492</p>
                </div>
                <!-- Email adress -->
                <div class="detail">
                    <!-- !!! (TO INSERT) Icon -->
                    <p>victorianpalletsupply@gmail.com</p>
                </div>
                <!-- Location(adress) -->
                <div class="detail">
                    <!-- !!! (TO INSERT) Icon -->
                    <p>14 Yannis court, Springvale VIC 3171</p>
                </div>
            </div>
        </div>

        <!-- DIVISION LINE -->
        <div class="div-line"></div>

        <!-- LINKS -->
        <div class="details-wrapper">
            <h3>Links</h3>
            <div>
                <li class="footer-links" href="#">Home</li>
                <li class="footer-links" href="#">Products</li>
                <li class="footer-links" href="#">Services</li>
                <li class="footer-links" href="#">About</li>
                <li class="footer-links" href="#">Gallery</li>
                <li class="footer-links" href="#">Contact</li>
            </div>
        </div>

        <!-- DIVISION LINE -->
        <div class="div-line"></div>

        <!-- OPERATING HOURS -->
        <div class="details-wrapper">
            <!-- Section title -->
            <h3>Operating Hours</h3>
            <!-- Items -->
            <div class="operating-items-container">
                <div class="operating-hours-container">
                    <!-- Weekday -->
                    <p class="week-day">Monday</p>
                    <!-- Hours -->
                    <p class="operating-hours">6:00AM to 3:30PM</p>
                </div>
                <div class="operating-hours-container">
                    <!-- Weekday -->
                    <p class="week-day">Tuesday</p>
                    <!-- Hours -->
                    <p class="operating-hours">6:00AM to 3:30PM</p>
                </div>
                <div class="operating-hours-container">
                    <!-- Weekday -->
                    <p class="week-day">Wednesday</p>
                    <!-- Hours -->
                    <p class="operating-hours">6:00AM to 3:30PM</p>
                </div>
                <div class="operating-hours-container">
                    <!-- Weekday -->
                    <p class="week-day">Thursday</p>
                    <!-- Hours -->
                    <p class="operating-hours">6:00AM to 3:30PM</p>
                </div>
                <div class="operating-hours-container">
                    <!-- Weekday -->
                    <p class="week-day">Friday</p>
                    <!-- Hours -->
                    <p class="operating-hours">6:00AM to 3:30PM</p>
                </div>
                <div class="operating-hours-container">
                    <!-- Weekday -->
                    <p class="week-day">Saturday</p>
                    <!-- Hours -->
                    <p class="operating-hours">Closed</p>
                </div>
                <div class="operating-hours-container">
                    <!-- Weekday -->
                    <p class="week-day">Sunday</p>
                    <!-- Hours -->
                    <p class="operating-hours">Closed</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-end-container">
        <p>2024 by Victorian Pallet Supply Pty Ltd.</p>
        <p>Website Designed and Built by @savcurcio</p>
    </div>
</footer>