/* CSS Variables - Optimized for Performance */

:root {
    /* Colors */
    --green: #05A84B;
    --green-semi-transparent: rgba(5, 168, 76, 0.7);
    --white: #FFFFFF;
    --white-semi-transparent: rgba(255, 255, 255, 0.7);
    --black-shadow: rgba(0, 0, 0, 0.2);
    --black: #000000;
    --yellow: #ffdc1c;
    
    /* Greys */
    --lightest-grey: #E5E5E5;
    --light-grey: #C8C8C8;
    --medium-grey: #808080;
    --dark-grey: #434242;
}